{%extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h1>welcome To My Instagram App</h1>
  </div>
  <div class="col-3"></div>
</div>
{% for image in images %}
<div class="card col-4" style="width: 18rem;">
    <img src="{{image.image}}" class="img-responsive"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{image.image_name}}</h5> 
    </div>
  </div>
{% endfor %}
<div class="card-footer">
  <h4>Comments:<span><a href="{% url 'comment' image.id %}" class="btn btn-sm btn-success"
        style="float:right">Add Comment</a></span></h4>
  <div class="card-body ">
    {% for comment in comments %}
    {% if comment.image_id == image.id%}

    <h5><strong>{{comment.user}}</strong> {{comment.author}}</h5>
    <p>{{comment.body}}</p>
    <hr>

    {% endif %}
    {% endfor %}
  </div>
</div>


{% endblock %}
